#**FORMULA ONE SQL DATA ANALYSIS**

##1. Load data

In [1]:
!pip install ipython-sql==0.5.0 prettytable==3.9.0 --quiet

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 82.0 MB/s eta 0:00:00

In [2]:
%load_ext sql


import prettytable
from prettytable import DEFAULT
import sql
sql.display = prettytable

In [3]:
%sql sqlite:///f1.db

In [4]:
from google.colab import files
uploaded = files.upload()

Saving f1.zip to f1.zip

In [5]:
import zipfile
import os

zip_path = "f1.zip"


with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(".")

print("Files extracted to home directory")

Files extracted to home directory

In [6]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("f1.db")

drivers = pd.read_csv("drivers.csv")
drivers.to_sql("drivers", conn, if_exists="replace", index=False)
pd.read_sql("SELECT * FROM drivers LIMIT 5;", conn)

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [7]:
races = pd.read_csv("races.csv")
races.to_sql("races", conn, if_exists="replace", index=False)
constructors = pd.read_csv("constructors.csv")
constructors.to_sql("constructors", conn, if_exists="replace", index=False)

212

In [14]:

# Checking table
%%sql
SELECT *
FROM drivers
LIMIT 5;

 * sqlite:///f1.db
Done.

[(1, 'hamilton', '44', 'HAM', 'Lewis', 'Hamilton', '1985-01-07', 'British', 'http://en.wikipedia.org/wiki/Lewis_Hamilton'),
 (2, 'heidfeld', '\\N', 'HEI', 'Nick', 'Heidfeld', '1977-05-10', 'German', 'http://en.wikipedia.org/wiki/Nick_Heidfeld'),
 (3, 'rosberg', '6', 'ROS', 'Nico', 'Rosberg', '1985-06-27', 'German', 'http://en.wikipedia.org/wiki/Nico_Rosberg'),
 (4, 'alonso', '14', 'ALO', 'Fernando', 'Alonso', '1981-07-29', 'Spanish', 'http://en.wikipedia.org/wiki/Fernando_Alonso'),
 (5, 'kovalainen', '\\N', 'KOV', 'Heikki', 'Kovalainen', '1981-10-19', 'Finnish', 'http://en.wikipedia.org/wiki/Heikki_Kovalainen')]

In [15]:
%%sql
SELECT *
FROM constructors
LIMIT 5;

 * sqlite:///f1.db
Done.

[(1, 'mclaren', 'McLaren', 'British', 'http://en.wikipedia.org/wiki/McLaren'),
 (2, 'bmw_sauber', 'BMW Sauber', 'German', 'http://en.wikipedia.org/wiki/BMW_Sauber'),
 (3, 'williams', 'Williams', 'British', 'http://en.wikipedia.org/wiki/Williams_Grand_Prix_Engineering'),
 (4, 'renault', 'Renault', 'French', 'http://en.wikipedia.org/wiki/Renault_in_Formula_One'),
 (5, 'toro_rosso', 'Toro Rosso', 'Italian', 'http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso')]

In [16]:
%%sql
SELECT *
FROM races
LIMIT 5;

 * sqlite:///f1.db
Done.

[(1, 2009, 1, 1, 'Australian Grand Prix', '2009-03-29', '06:00:00', 'http://en.wikipedia.org/wiki/2009_Australian_Grand_Prix', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N'),
 (2, 2009, 2, 2, 'Malaysian Grand Prix', '2009-04-05', '09:00:00', 'http://en.wikipedia.org/wiki/2009_Malaysian_Grand_Prix', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N'),
 (3, 2009, 3, 17, 'Chinese Grand Prix', '2009-04-19', '07:00:00', 'http://en.wikipedia.org/wiki/2009_Chinese_Grand_Prix', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N'),
 (4, 2009, 4, 3, 'Bahrain Grand Prix', '2009-04-26', '12:00:00', 'http://en.wikipedia.org/wiki/2009_Bahrain_Grand_Prix', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N'),
 (5, 2009, 5, 4, 'Spanish Grand Prix', '2009-05-10', '12:00:00', 'http://en.wikipedia.org/wiki/2009_Spanish_Grand_Prix', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N')]

##2. Filtering rows

In [10]:
# Finding all Spanish drivers
%%sql
SELECT forename, surname, nationality
FROM drivers
WHERE nationality = 'Spanish';

 * sqlite:///f1.db
Done.

[('Fernando', 'Alonso', 'Spanish'),
 ('Pedro', 'de la Rosa', 'Spanish'),
 ('Marc', 'Gené', 'Spanish'),
 ('Jaime', 'Alguersuari', 'Spanish'),
 ('Luis', 'Pérez-Sala', 'Spanish'),
 ('Adrián', 'Campos', 'Spanish'),
 ('Emilio', 'de Villota', 'Spanish'),
 ('Emilio', 'Zapico', 'Spanish'),
 ('Alex', 'Soler-Roig', 'Spanish'),
 ('Antonio', 'Creus', 'Spanish'),
 ('Paco', 'Godia', 'Spanish'),
 ('Alfonso', 'de Portago', 'Spanish'),
 ('Juan', 'Jover', 'Spanish'),
 ('Carlos', 'Sainz', 'Spanish'),
 ('Roberto', 'Merhi', 'Spanish')]

##3. Sorting

In [12]:
%%sql
SELECT forename, surname, dob
FROM drivers
ORDER BY dob ASC
LIMIT 10;

 * sqlite:///f1.db
Done.

[('Philippe', 'Étancelin', '1896-12-28'),
 ('Luigi', 'Fagioli', '1898-06-09'),
 ('Clemente', 'Biondetti', '1898-08-18'),
 ('Arthur', 'Legat', '1898-11-01'),
 ('Louis', 'Chiron', '1899-08-03'),
 ('Piero', 'Dusio', '1899-10-13'),
 ('Adolf', 'Brudes', '1899-10-15'),
 ('Bill', 'Aston', '1900-03-29'),
 ('Hans', 'von Stuck', '1900-12-27'),
 ('Rudolf', 'Schoeller', '1902-04-27')]

In [13]:
%%sql
SELECT forename, surname, dob
FROM drivers
ORDER BY dob DESC
LIMIT 10;

 * sqlite:///f1.db
Done.

[('Oliver', 'Bearman', '2005-05-08'),
 ('Franco', 'Colapinto', '2003-05-27'),
 ('Jack', 'Doohan', '2003-01-20'),
 ('Liam', 'Lawson', '2002-02-11'),
 ('Oscar', 'Piastri', '2001-04-06'),
 ('Logan', 'Sargeant', '2000-12-31'),
 ('Yuki', 'Tsunoda', '2000-05-11'),
 ('Lando', 'Norris', '1999-11-13'),
 ('Guanyu', 'Zhou', '1999-05-30'),
 ('Mick', 'Schumacher', '1999-03-22')]

##4. Filter with conditions

In [19]:
%%sql
SELECT forename, surname, dob, nationality
FROM drivers
WHERE surname LIKE "Ver%" ;

 * sqlite:///f1.db
Done.

[('Jos', 'Verstappen', '1972-03-04', 'Dutch'),
 ('Jean-Éric', 'Vergne', '1990-04-25', 'French'),
 ('Max', 'Verstappen', '1997-09-30', 'Dutch')]

In [20]:
%%sql
SELECT forename, surname, dob
FROM drivers
WHERE surname LIKE "Sch%" AND nationality = 'German' ;

 * sqlite:///f1.db
Done.

[('Ralf', 'Schumacher', '1975-06-30'),
 ('Michael', 'Schumacher', '1969-01-03'),
 ('Bernd', 'Schneider', '1964-07-20'),
 ('Mick', 'Schumacher', '1999-03-22')]

In [1]:
%%sql
SELECT name, nationality
FROM constructors
WHERE nationality = 'French' OR 'Italian';

UsageError: Cell magic `%%sql` not found.

##5. Select TOP

##6. Aggregate Functions

##7. Wildcards

##8. IN/BETWEEN